/* No extra space unless I add it */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Setting font */
body {
    font-family: 'Inter', sans-serif;
    padding: 1rem 2rem;
    background-color: var(--bg-color);
  color: var(--text-color);
  transition: background-color 0.3s ease, color 0.3s ease;
}
h1{
   margin-bottom: 2rem;
   color: var(--accent-color);
}
h2{
    margin-bottom: 1rem;
    color: gray;
}

/* The changelog container */
#changelog-container {
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem;
    border: 2px solid var(--accent-color);
}

/* Settings for each row */
.changelog-row{
    display: flex;
    gap: 3rem;
    align-items: center;
   width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 7rem;
    height: 100px;
}

/* the left side date.*/
.changelog-date{
    width: 150px;
    flex-shrink: 0;
    color: gray;
}

/* Right side text */
.changelog-content {
    flex-shrink: 0;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
}

/* individual line between date and content */
.line {
    border-right: 2px solid var(--border-color);
    height: 3rem;
    position: relative;
    height: 100%;
}

/* dot on the line */
.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: var(--accent-color);
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

/* the line and the dot */
.timeline{
height: 100%;
}

button{
    width: auto;
    height: auto;
    border-radius: 8px;
    background-color: black;
    color: white;
    padding: 20px;
    margin: 30px 0;
    cursor: pointer;
    font-size: 1rem;
    background-color: var(--accent-color);
}

#theme-toggle{
width: 200px;
}
/* Dark mode >:) */
:root {
  --bg-color: #ffffff;
  --text-color: #000000;
  --accent-color: #000000;
  --border-color: #000000;
}

.dark-mode {
  --bg-color: #000000;
  --text-color: #f0f0f0;
  --accent-color: #a1ba32c8;
  --border-color: #cccccc;
}

@media (max-width: 768px) {
 h1{
    text-align: center;
 }
h2{
    text-align: center;
}
  .changelog-row {
    flex-direction: column;
    align-items: flex-start;
    padding-left: 2rem;
    height: auto;
    gap: 1rem;
    padding-bottom: 2rem;
  }

  .changelog-date,
  .changelog-content {
    width: 100%;
    max-width: none;
  }

  .timeline {
    position: relative;
    width: 100%;
    height: 3rem;
    display: flex;
    align-items: center;
  }

  .line {
    position: absolute;
    height: 2px;
    width: 100%;
    border-right: none;
    border-top: 2px solid var(--border-color);
  }

  .dot {
    position: absolute;
    top: 50%;
    left: 0;
    transform: translate(0, -50%);
  }
}
