/* No extra space unless I add it */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

/* Setting font */
body {
    font-family: 'Inter', sans-serif;
    padding: 1rem 2rem;
}
h1{
    padding-bottom: 1rem;
}
h2{
    margin-bottom: 4rem  ;
}

/* The changelog container */
#changelog-container {
    border: 2px solid black;
    border-radius: 18px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    padding: 2rem 3rem;
}

/* Settings for each row */
.changelog-row{
    display: flex;
    gap: 3rem;
    align-items: center;
   width: 100%;
    max-width: 800px;
    margin: 0 auto;
    padding-left: 7rem;
    height: 100px;
}

/* the left side date.*/
.changelog-date{
    width: 150px;
    flex-shrink: 0;
    color: gray;
}

/* Right side text */
.changelog-content {
    flex-shrink: 0;
    width: 40%;
    min-width: 200px;
    max-width: 400px;
}

.line {
    border-right: 2px solid black;
    height: 3rem;
    position: relative;
    height: 100%;
}

.dot {
    width: 15px;
    height: 15px;
    border-radius: 50%;
    background-color: black;
    position: absolute;
    top: 50%;
    transform: translate(-50%, -50%);
}

.timeline{
height: 100%;
border: 1px solid red;
}

